/*
Until IE6 is on the stage, it's normal practice to include a separate stylesheet which will override style.css
to fix common known IE6 bugs, such as:

- double left-margin
- peek-a-boo (invisibility or other side effects) effect of blocks with backgrounds with computed heights - cured by adding height:1%
- other nasty IE6 behaviours

We do not accept commonly used IE hacks, which are against w3c waidation rules
*html 
_tag-name
name other alike
PLEASE NEVER USE THESE!
*/

body { text-align:center; /* for IE to center container*/ }
#wrapper {text-align:left; /*set up left align back for all other containers */}

#logo {
  position: absolute;
  margin: 15px 0 0 15px;
} 

.big_bold{
  text-align: right;
  margin: 5px 10px 0 0;
  font-size: 25px;
  font-weight: bold;    
}

#center {
  padding: 10px 30px;  
}

#nav li.first a{
  margin-left: 0px;
}

#nav li.first a:hover{
  background:url("img/buttons/first_but_left.jpg") no-repeat left top;
  margin-left: 0px;
}

#nav a:hover {  
  background:none; 
}

.no-sidebars #content{  
  margin: -7px auto 0 auto;
}


div.admin .left, div.admin .right{
  width: 45%;
}

#right .block #block_content_bot{  
  padding: 5px 0px 5px 20px;
}

/*----- Blog styles ------*/
.page-blog .node .comment_comments{
  background: url(img/comment_icon.png) no-repeat;
  padding: 5px 5px 0px 30px;
  border-left: none;  
}


