#center {
  padding: 10px 30px;  
}

#right { 
  padding: 10px 0 0 45px;
}

#right .block{
  margin: 0 0 0 -15px;
}

#nav a {
  height: 35px;
}


#upheader #user-login-form div{
  padding: 0 0 5px 0;
}

#upheader #user-login-form .form-item {
  display: inline;  
  background: url(img/login_field.gif) no-repeat;
  height:32px;
  width:85px;
  margin: 0 5px -3px 5px;
  padding: 3px 3px 5px 3px;
}

#upheader #user-login-form .form-submit{
  background:none;
  border: none;
  border-bottom:1px solid #C9D30F;
  color:white;
  cursor:pointer;
  font-family:Arial;
  font-size:11px;    
  font-weight:bold;
  line-height:normal; 
  margin: 0 0 0px 0; 
}

#upheader #user-login-form .form-item .form-text{
  font-family:Arial;
  font-size:11px;  
  font-style:normal;
  font-variant:normal;
  font-weight:normal;
  height:10px;
  padding: 0 0 5px 5px;
  line-height:normal; 
  width:76px;
  margin: 0 0 0 0px;  
  border: none;
  background: #c1e3e8;
}