
/**
* this was a generic theme used by cms_tuning team
* Now it's Smooth Blue Drupal 6.x theme
**/

/* ----- layout ----- */
body {
  margin: 0;
  padding: 0 10px;
  color:#fff;
  background:#bfe2e7 url(img/bg.png) top left repeat-x;
  font:12px  Verdana, Helvetica, Arial, sans-serif;
}

.clear {
  clear:both;
  display:block;
  font-size:0;
  height:1px;
  line-height:0;
  margin-bottom:-1px;
}


#upheader{
  width: 100%;
  height: 70px;  
}

#header {   
  margin: 0 auto;
  width: 802px;
  height: 182px;
  background:url(img/header_bg.png) top left no-repeat;
  position: relative;
  z-index: 1;
}

/* Primary Navigation Style*/
#nav{
  position: relative;
  margin: 5px 0 5px 91px;
  width: 802px;
  height: 37px;
  background:url(img/nav_bg.jpg) top left no-repeat;   
  font-size:100%;
  line-height:normal;    
}

#nav ul {
  float: left;
  margin:0;  
  padding:0px;
  height: 37px;
  list-style:none;
}


#nav a:hover {
  display:block;
  text-decoration:none;
  color: #ffed00;
}

#nav li {
  float:left;
  background:url("img/buttons/but_right.jpg") no-repeat right top;
  margin:0;
  padding:0;
  border-left:none;
  height: 37px;
}

#nav li:hover {  
  background:url("img/buttons/active_hover_but_right.jpg") no-repeat right top;
}

#nav li.first{
  
}

#nav li.first a{
  background:url("img/buttons/first_but_left.jpg") no-repeat left top;
  margin-left: -3px ;
  padding: 10px 15px 0 15px; 
}

#nav li.first a:hover{
  background:url("img/buttons/active_hover_but_first_left.jpg") no-repeat left top;
  margin-left: -3px ;  
}

#nav a {  
  height: 28px;
  background:url("img/buttons/but_left.jpg") no-repeat left top;
  color: #c9d30f;
  margin: 0;
  padding: 10px 15px 0 15px;  
  float:left;
  display:block;
  position:relative;    
}

#nav a:hover {  
  background:url("img/buttons/active_hover_but_left.jpg") no-repeat left top; 
}

/*----- end -----*/

/*----- Secondary navigation style -----*/
#secondary_links{
  text-align: center;
}

#secondary a{
  color: black;
  font-size: 10px;  
}

#secondary a:hover{
  color: #C9D30F;
}

#secondary li{
  border-left:1px solid #000;
}
/*----- end -----*/
#logo img { 
  margin: 15px 0 0 15px;
}

#wrapper {
  width:982px;	
  margin: 0 auto;	
}

#wrapper .column { float: left; }


/*----- for two columns layout -----*/
.sidebar-right #content{
  background:url(img/two_columns_mid_bg.png) top left repeat-y;  
  width:802px;
  min-height: 300px;
  height: auto !important;
  height: 300px;  
  margin: 0 auto;
}

.sidebar-right #content_top {
  background: url(img/two_columns_up_bg.png) no-repeat ;  
  width:802px;
}

.sidebar-right #content_bottom {
  background:url(img/two_columns_bot_bg.png) no-repeat left bottom;  
  width:802px;
  min-height: 300px;
  height: auto !important;
  height: 300px;
}

/*----- songle column layout -----*/
.no-sidebars #content{
  width:802px;
  background:url(img/one_column_mid_bg.png) top left repeat-y;
  min-height: 300px;
  height: auto !important;
  height: 300px;  
  margin: 0 auto;
}

.no-sidebars #content_top{
  width:802px;
  background: url(img/one_column_up_bg.png) no-repeat ;
}

.no-sidebars #content_bottom{
  width:802px;
  background: url(img/one_column_bot_bg.png) no-repeat left bottom; 
  min-height: 300px;
  height: auto !important;
  height: 300px;   
}

#center {
  padding: 10px 30px;
  width: 450px;
}

.no-sidebars #center{
  width: 700px;
}

#right {
  width: 236px;
  padding: 15px 0 0 30px;
}

#block-system-0 img{
  margin: 0 auto;
}

#footer {
  background:url(img/one_column_mid_bg.png) top left repeat-y;  
  width:802px;  
  margin: 5px auto;    
}

#footer_top {
  background: url(img/one_column_up_bg.png) no-repeat ;  
  width:802px;  
}

#footer_bottom {  
  position: relative;
  background: url(img/one_column_bot_bg.png) no-repeat left bottom;  
  width:802px;
  min-height:80px;
  height:auto !important;
  height:80px; 
  text-align: center;
  font-size: 10px;  
  line-height: 2em;  
}

#footer_bottom #author_info{
  position: absolute;
  left: 660px;
  bottom: 8px;
  padding: 5px 0 0 0;
}


/* ----- end of layout ----- */

/* ----- basic HTML elements and drupal-specific stuff ----- */
h1, h2, h3, h4, h5, h6 {
  margin-bottom: 0.5em;
}
h1 {
  font-size: 1.3em;
}
h2 {
  font-size: 1.2em;
}
h3, h4, h5, h6 {
  font-size: 1.1em;
}
p {
  margin-top: 0.5em;
  margin-bottom: 0.9em;
}
a {
  text-decoration: none;
  font-weight: bold;
}
a:link {
  color: #c9d30f;
}
a:visited {
  color: #c9d30f;
}
a:hover {
  color: #FFED00;
  text-decoration: none;
}

.menu a.active{
  color: #ccccff;
}

.messages a, .sticky-enabled a{
  color:#333399;
}

.sticky-enabled, .block-region {
  color: #000;
}

fieldset {
  border: 1px solid #ccc;
}
pre {
  background-color: #eee;
  padding: 0.75em 1.5em;
  font-size: 12px;
  border: 1px solid #ddd;
}
table {
  /* make <td> sizes relative to body size! */
  font-size: 1em;
}

table tbody{
  border: none;
}

table thead tr{
  border: 2px solid #C9D30F;
}

table thead tr th{
  padding: 5px 3px;
  text-align: center;
  font-size: 10px;
}

table tr td{
  text-align: center;
}

tr.odd{
  background: #fff;
  border-bottom: 2px solid #C9D30F;
  border-left: 2px solid #C9D30F;
  border-right: 2px solid #C9D30F;  
}

tr.even{
  background: #edf8ff;
  border-bottom: 2px solid #C9D30F;
  border-left: 2px solid #C9D30F;
  border-right: 2px solid #C9D30F;
}

table thead{
  background: #C9D30F;
}

table thead a{
  color: #199FED;
}

.form-item label {
  font-size: 1em;
  color: #fff;
}
.item-list .title {
  font-size: 1em;
  color: #fff;
}
.links {
  margin-bottom: 0;
}
.comment .links {
  margin-bottom: 0;
}

.tabs{font-size: 10px;}

ul.links li { border-left: 1px solid #ccc; }
ul.links li a { margin-left:2px; }
ul.links li.first { border-left: none !important; }
ul.links li.last { padding-right:0 !important; }
ul.primary li a {color: #FFED00; background-color:#5095C4;}
ul.primary li a:hover {background-color:#5fb3d9; border-color:#CCCCCC #CCCCCC #EEEEEE;}
ul.primary li.active a {background-color:#5fb3d9;border-color:#BBBBBB #BBBBBB #FFFFFF;border-style:solid;border-width:1px;
}


/*----- theme-specific styles start here -----*/

/*----- admin themes styling ------*/

#system-themes-form {
  margin: 10px 20px 10px -5px;
  color: #000;
  font-size: 10px;
}

.page-admin .tabs{
  margin-left: -10px;
  font-size: 10px;
}

/*-----Site name style -----*/
.big_bold{
  text-align: right;
  margin: -150px 10px 0 0;
  font-size: 25px;
  font-weight: bold;    
}

/*----- Right Blocks styling -----*/
#right .block .block-title{
  background: url(img/bg_block_header.png) no-repeat;
  width: 236px;
  height: 23px;
  margin: 0px 0 0px 0;
  text-align: center;
  padding: 0px 0 0 0;  
  color: #FFF;
  line-height: 1.6em;
  border-bottom: 2px solid #fff;
}

#right .block{
  margin-bottom: 10px !important;
  color: #000;  
}

#right #under_block{
  width: 236px;
  height: 16px;
  background: url(img/bg_under_block.png) no-repeat;
  border-top: 2px solid #fff ;
}


#right .block #block_content{  
  background: url(img/bg_block.png) repeat-y;
  width: 214px;  
  margin: 0px 0 0 0; 
  padding: 10px 18px;   
}

#right .block a{
  color: #fff;
}

#right .block a:hover{
  color: #FFED00;
  text-decoration: none;
}

/*----- Custom login block at the top -----*/
#upheader #user-bar{
  float: left;
  width: 407px;
  height: 40px;
  padding: 8px 0px 0 14px; 
  background: url(img/login_bg.png) no-repeat;
  margin:6px 0 0 20px;  
}

#upheader #user-bar .user-info, #upheader #user-bar .item-list{
  float: left;
  padding: 0 0 0 0px;
  font-size: 11px;	
}

#upheader #user-bar .item-list li{
  list-style: none;
  padding: 5px 0 0 140px;
}

#upheader #user-login-form{
  text-align: left;  
}

#upheader #user-login-form .item-list{
  display: none;
}

#upheader #user-login-form .form-item {
  display: inline;
  background: url(img/login_field.gif) no-repeat;
  height:32px;
  width:82px;
  margin: 0;
  padding: 3px 0 5px 2px;
}

#upheader #user-login-form .form-item label, #upheader #user-login-form .form-item label{
  display: none;
}

#upheader #user-bar label{
  float: left;
  padding: 3px 5px 0 0;
  color: #fff;
  font-weight: bold;
}

#upheader #user-login-form .form-item .form-text{
  font-family:Arial;
  font-size:11px;  
  font-style:normal;
  font-variant:normal;
  font-weight:normal;
  height:13px;
  padding: 0px 0 3px 0;
  line-height:normal; 
  width:78px;
  margin: 0 5px 0 5px;  
  border: none;
  background: #c1e3e8;
}

#upheader #user-login-form .form-submit{
  background:none;
  border: none;
  border-bottom:2px solid #C9D30F;
  color:white;
  cursor:pointer;
  font-family:Arial;
  font-size:11px;    
  font-weight:bold;
  line-height:normal; 
  margin: 0 0 5px 0; 
}

/*----- Search box style -----*/
#search-theme-form{
  background: url(img/search_icon.png) no-repeat;
  width: 250px; 
  height: 43px;  
  float: right;
  margin: 6px 0 0 0;  
}

#search{
  background: url(img/search_field.png) no-repeat;
  height: 30px;
  width: 160px;  
  padding:4px 0 0 13px ;
  margin: 10px 0 0 40px;  
}


#search label, #search .form-submit{
  display: none;	
}

#search .form-text{
  font-size: 9px;
  width: 130px;
  background: none;
  border: none;
  color: #fff;
  font-weight: bold;
}

/*----- Forums style -----*/
#forum table{
  width: 100%;
}

#forum table tr.odd{
  background: #fff;  
}

#forum table tr.odd td.forum, #forum table tr.even td.forum{
  padding: 5px 5px 5px 30px;
  text-align: center;
  font-size: 12px;
} 

#forum table tr.odd td, #forum table tr.even td{
  padding: 5px 5px 5px 5px;
  text-align: center;
  font-size: 10px;
} 

#forum table tr.even{
  background: #edf8ff; 
}

#forum table thead{
  background: #C9D30F;
  font-size: 12px !important;
}

#forum table thead tr th{
  font-size: 12px !important;
}

#forum table thead a{
  color: #199FED;  
}

#forum{
  color: #000;
}

#forum tr td.forum {
  background-image:url(img/forum.png);
  background-position:5px 50%;
  background-repeat:no-repeat;
  padding-left:25px;
}

#forum ul.links{
  margin: 0 0 15px 0;
}

#forum td a{
  color: #199fed;
}

#forum table td.icon img{
  display: none;	
}

#forum table td.title{
  padding: 5px 5px 5px 30px !important;
  background-image:url(img/forum.png);
  background-position:5px 50%;
  background-repeat:no-repeat;
  font-size: 12px !important;
}

.node-type-forum .node .submitted{
  font-size: 10px;
}

.node-type-forum .node .taxonomy{
  font-size: 15px;
  text-align: right;
  margin: 10px 0;  
}

.node-type-forum .node div.forum-topic-navigation{
  border: 1px solid #C9D30F;  
}
.node-type-forum .node div.forum-topic-navigation a{
  text-align: right;
}

.forum-topic-navigation .topic-previous {
  float: right;
}


.node-type-forum #center .content{
  margin: 0px 0 20px 0;
}


.node-type-forum #center ul li.comment_add{
  background: url(img/comment_icon.png) no-repeat;
  padding: 5px 5px 7px 30px;  
}

/*----- Blog style -----*/
.node-type-blog #content .title{ 
  background: none;
  padding:4px 0 3px 0 ;
  border: none;
  text-align: left;  
  font-weight: bold;
  margin: 8px 0 10px 0;
  font-size: 20px
}


.page-blog #content h2.title{
  font-size: 20px;
}

.page-blog #content h1.title{
  background: url(img/bg_big_title.png) no-repeat;
  padding:4px 0 3px 0 ;
  text-align: center;
  border-bottom: 2px solid #fff;  
  font-weight: bold;
  margin: 4px 0 5px 0;
}

.node-type-blog #content .node .taxonomy, .page-blog #content .node .taxonomy, .page-comment #content .node .taxonomy{
  margin: 10px 0 15px 0;
  font-size: 10px;
}

.node-type-blog #content .node .submitted, .page-blog #content .node .submitted, .page-comment #content .node .submitted{
  margin: 15px 0 0 0;
  font-size: 10px;
}

.node-type-blog #comments{
  margin: 15px 0 10px 0;
  border-top: 1px solid #fff;
}

.node-type-blog #comments .comment{
  margin: 15px 0 15px 0;
  border: 2px solid #858401;
  padding: 5px 10px;
}

.node-type-blog #comments h3.title{
  margin: 5px 0;
  font-size: 16px; 
}

.node-type-blog #comments h3.title a{
  color: #fff;
}

.node-type-blog #comments .submitted{
  margin: 5px 0 5px 0;
  font-size: 10px;
}

.page-blog .node{
  margin: 0 0 30px 0;
}

.page-blog .breadcrumb, .node-type-blog .breadcrumb{
  display: none;
}

.page-blog .node .comment_comments{
  background: url(img/comment_icon.png) no-repeat;
  padding: 5px 5px 7px 30px;  
}

.page-blog .node > ul.links{
  float: right;  
}

/*----- Polls style -----*/
.block-poll #block_content{
  padding: 10px 23px 10px 13px !important;
  color: #fff;
}

.block-poll .links{
  margin: 15px 0 0 0;
  font-size: 10px;
  text-align: center;
}

.block-poll #block_content .poll .title{
  margin: 0 0 10px 0;
  padding: 0 0 3px 0;
  text-align: center;
  font-weight: bold;  
  border-bottom: 1px solid #fff ;
}

.block-poll #block_content .poll div.text{
  margin: 0 0 5px 0;
  font-size: 10px;
}

.block-poll #block_content .poll div.total{
  margin: 10px 0 0 0;
  padding: 3px 0;
  background: #FFED00;
  color: #000;
}

.poll .bar{
  background-color:#167ab9;
}

.poll .bar .foreground{
  background-color:#fff ;
}

#center .poll .bar{
  background-color:#124162;
}

#center .poll .bar .foreground{
  background-color:#fff ;
}